ion-title {
  text-align: center;
  text-transform: uppercase;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  ion-img::part(image) {
    width: auto;
    height: 300px;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
  }

  ion-item::part(native) {
    padding: 0 0.5rem;
  }

  ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  ion-card-title {
    text-align: center;
    font-size: 1.5rem;
  }

  #moreDetails {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  ion-item ion-label span {
    font-style: italic;
    color: var(--ion-color-primary);
  }
}

@media screen and (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem 1rem;
  }
}
